# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Fabric
run/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/
*.log
